# Removes latex temporary files
**/*.ipynb
**.aux
**.log
**.nav
**.out
**.snm
**.toc
**.html
**.swp
**.vrb
*.DS_Store
**.npz
**todo**
**__pycache__**
**/weights.nc


**outfile.txt**
**example.nc**
**example.csv**

# Remove R files
.Rhistory

**/.ipynb_checkpoints
**/dask-worker-space
_build

# gimp files
**xcf
link.sh

**/pacific_mask.nc

**/*LogFile
**/bilinear*
misc/*png
clean.sh

**/ipbes_regions_subregions_shape*
**/IPBES_Regions_Subregions2*
